<!DOCTYPE html>
<html>
<body>
<h1>Following</h1>

{% for following in following_list %}
    {% if following in mutual %}
    <form action="/following" method="post">
        <p style="display: inline-block;"> {{ following[0] }}</p>
        <button type="submit" name="unfollow" value="{{ following[0] }}">unfollow</button>
    </form>
    {% else %}
    <form action="/following" method="post">
        <p style="display: inline-block;"> {{ following[0] }}</p>
        <button type="submit" name="follow" value="{{ following[0] }}">follow</button>
    </form>
    {% endif %}
{% endfor %}


</body>
</html> 