<!DOCTYPE html>
<html>
<body>
<h1>Followers</h1>

{% for follower in followers_list %}
    {% if follower in mutual %}
        <form action="/followers" method="post">
            <p style="display: inline-block;">{{ follower[0] }}</p>
            <button type="submit" name="unfollow" value="{{ follower[0] }}">unfollow</button>
        </form>
    {% else %}
    <form action="/followers" method="post">
        <p style="display: inline-block;"> {{ follower[0] }}</p>
        <button type="submit" name="follow" value="{{ follower[0] }}">follow</button>
    </form>
    {% endif %}
{% endfor %}


</body>
</html> 